In [1]:
import pandas as pd

In [3]:
dev = pd.read_csv("../../data/dev.csv")
dev.head()

                ImageId  TrueLabel  TargetClass
0  0c7ac4a8c9dfa802.png        306          779
1  4fc263d35a3ad3ee.png        244          123
2  cc13c2bc5cdd1f44.png        560          741
3  df58f94361c6d105.png        610           13
4  6cae4a23623d142b.png        583          440

In [4]:
dev["TrueLabel"] = dev["TrueLabel"]-1
dev["TargetClass"] = dev["TargetClass"]-1
dev.head()

                ImageId  TrueLabel  TargetClass
0  0c7ac4a8c9dfa802.png        305          778
1  4fc263d35a3ad3ee.png        243          122
2  cc13c2bc5cdd1f44.png        559          740
3  df58f94361c6d105.png        609           12
4  6cae4a23623d142b.png        582          439

In [5]:
dev.describe()

         TrueLabel  TargetClass
count  1216.000000  1216.000000
mean    626.944901   560.030428
std     253.210492   266.490188
min       1.000000     1.000000
25%     442.000000   365.000000
50%     661.000000   588.500000
75%     839.000000   781.250000
max     994.000000   999.000000

In [6]:
dev.to_csv("../../data/dev_new.csv", index=False)

In [8]:
! cat "../../data/dev_new.csv"|head -n 10

ImageId,TrueLabel,TargetClass
0c7ac4a8c9dfa802.png,305,778
4fc263d35a3ad3ee.png,243,122
cc13c2bc5cdd1f44.png,559,740
df58f94361c6d105.png,609,12
6cae4a23623d142b.png,582,439
d02adcb9140880a1.png,915,782
71080285ad6cb4e9.png,455,477
137ab6ca314e9e35.png,619,555
4b384c8247b56c0a.png,541,924